* {
  margin: 0;
  padding: 0; }

html {
  font-size: 62.5%; }

@media (max-width: 599px) {
  header, section {
    max-width: 300px;
    margin-left: auto;
    margin-right: auto; } }
@media (min-width: 600px) {
  header, section {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto; } }
@media (min-width: 1200px) {
  header, section {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto; } }

body {
  font-family: Arial, sans-serif;
  background-color: #925FF1;
  font-size: 16px; }

@media (min-width: 1200px) {
  .header {
    display: flex;
    justify-content: space-between; } }

@media (min-width: 1200px) {
  .header .logo {
    display: flex; }
  .header p {
    height: 3rem;
    width: 3rem;
    background: url("../images-icons/icons8-Game-ControllerFilled-50.png") no-repeat;
    background-size: cover;
    text-indent: -9999px;
    margin: 5px 0 5px 5px; } }

h1 {
  color: #C2A8F1;
  font-size: 3rem;
  margin: 5px; }

.nav {
  display: flex;
  justify-content: flex-end;
  list-style: none; }

.nav li {
  color: #C2A8F1;
  font-size: 3rem;
  margin: 5px; }
.nav li:first-child {
  color: #907DB4; }

.search {
  height: 33.7rem; }

.searchForm {
  display: block;
  width: 80%;
  margin-top: 12rem;
  margin-left: auto;
  margin-right: auto; }

.searchForm .append {
  display: flex; }
.searchForm input[type=text] {
  flex: 1;
  height: 5rem;
  font-size: 16px;
  width: 80%;
  border: none; }
.searchForm input[type=submit] {
  text-indent: -9999px;
  width: 5rem;
  height: 5rem;
  background: url("../images-icons/icons8-Search Filled.png") no-repeat white;
  border: none; }

.searchForm label {
  background-color: #000;
  font-size: 1.6rem;
  color: #C2A8F1;
  margin: 0 7rem 0 0; }

.append input[type=submit]:hover {
  background: url("../images-icons/icons8-Search Filled-Hoverpng.png") no-repeat;
  width: 50px;
  height: 50px; }
.append #userFeedback {
  color: red;
  float: left;
  font-size: 1.6rem;
  background-color: black; }

h2 {
  display: block;
  float: left;
  margin-right: 60rem;
  margin-top: 4rem;
  padding: 5px;
  background-color: #000;
  color: #C2A8F1;
  font-size: 3rem; }

#results {
  text-align: center; }

#results #searchResults {
  display: flex;
  width: 120rem;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center; }

.button {
  display: inline-block;
  text-align: center;
  font-size: 1.6rem;
  margin-bottom: 40px;
  border-radius: 5px;
  background-color: #452D72;
  text-decoration: none;
  color: #C2A8F1;
  padding: 10px; }

.button:hover {
  background-color: #000; }

article {
  margin: 39px;
  max-width: 320px;
  background-color: #452D72; }

article a {
  text-decoration: none; }
article img {
  width: 80px;
  height: 45px; }
article h3 {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis; }
article h3 {
  font-size: 1.6rem;
  color: #C2A8F1;
  padding: 10px;
  text-align: left; }
article strong {
  font-size: 1.6rem;
  color: #907DB4; }

strong::before {
  content: "\A";
  white-space: pre; }

article h3:hover {
  background-color: #000; }

footer {
  padding-top: 1.5rem;
  font-size: 1.6rem;
  text-align: center;
  color: #C2A8F1; }

footer {
  background-color: #000;
  height: 9.5rem;
  background-size: cover; }

footer p {
  margin-top: 1rem; }
footer a {
  color: #C2A8F1; }

.navWrapper {
  height: 40rem;
  background: url("../images-icons/Gaming_Zone.jpeg") no-repeat;
  background-size: cover; }

/*# sourceMappingURL=main.css.map */
