@import '../helpers/_variables';
@import '../helpers/_mixins.scss';

html{
  font-size: 62.5%;
}

header{
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;

  @include mq(tablet){
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
  }

  @include mq(desktop) {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
}

section{
  @extend header
}

body{
  font-family: $font-stack;
  background-color: $body-bgColor;
}

.header{
    display: flex;
    justify-content: space-between;
}

.header{
  .menu{
    display: block;
    background-image: url('../images-icons/hamburgerMenu.png');
    background-color: transparent;
    border: none;
    background-size: cover;
    width: 3rem;
    height: 3rem;
    margin-top: 10px;
    float: right;

    @include mq(tablet){
      display: none;
    }
  }
}

.header {
    .logo {
      display: flex;
    }

    p {
      height: 3rem;
      width: 3rem;
      background: $logoicon;
      background-size: cover;
      text-indent: -9999px;
      margin: 5px 0 5px 5px;
    }
}

h1{
  margin: 10px;
  color: $light-font-color;
  font-size: 20px;

  @include mq(tablet) {
    font-size: $font-h1-size;
  }
}

.navMenu {
  float: right;
  position: relative;
  display: inline-block;

  .nav {
    padding: 10px 5px 10px 0;
    display: none;
    position: absolute;
    overflow: auto;
    right: 0;
    top: 40px;
    list-style: none;
    background-color: black;
    background-size: cover;

    .show{
      display: block;
    }

    @include mq(tablet) {
      display: flex;
      top: 0;
      position: relative;
      justify-content: flex-end;
      list-style: none;
    }

    li {
      color: $light-font-color;
      font-size: 20px;
      margin: 5px;
      padding-left: 20px;

      @include mq(tablet){
        font-size: $font-h1-size;
        padding: 0;
      }
    }

    li:first-child {
      color: $dark-font-color;
    }
  }
}


.search{
  //height: 20rem;
}

.searchForm{
  width: 100%;
  margin-top: 5rem;
  margin-left: auto;
  margin-right: auto;

  @include mq(tablet){
    margin-top: 7rem;
  }

  @include mq(desktop){
    margin-top: 10rem;
  }
}

.searchForm{
  .append{
    display: flex;

  }

  input[type=text]{
    flex:1;
    height: 5rem;
    font-size: 12px;
    width: 80%;
    border: none;

    @include mq(tablet){
      font-size: 16px;
    }

    @include mq(desktop){
      font-size: $font-sizeP;
    }
  }

  input[type=submit] {
    text-indent: -9999px;
    width: 5rem;
    height: 5rem;
    background: $search-btn white;
    border: none;
  }
}

.searchForm{
  label{
    font-size: 12px;
    background-color: $bg-color;
    color: $light-font-color;

    @include mq(tablet){
      font-size: 16px;
    }

    @include mq(desktop){
    font-size: $font-sizeP;
    }
  }
}

.append {
  input[type=submit]:hover {
    background: $search-btn-hover;
    width: 50px;
    height: 50px;
  }
}
#userFeedback{
  color: red;
  font-size: 12px;
  background-color: black;

  @include mq(tablet){
    font-size: 16px;
  }

  @include mq(desktop){
    font-size: $font-sizeP;
  }
}



h2{
  display: block;
  float: left;
  margin-right: auto;
  margin-top: 4rem;
  padding: 5px;
  background-color: $bg-color;
  color: $light-font-color;
  font-size: 16px;

  @include mq(tablet){
    font-size: 30px;
  }

  @include mq(desktop){
    font-size: $font-sizeH2;
  }
}

#results{
  text-align: center;
}

#results{
  #searchResults{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
  }
}

.button {
  display: inline-block;
  text-align: center;
  font-size: 12px;
  margin-bottom: 40px;
  margin-top: 20px;
  border-radius: 5px;
  background-color: $article-bg-color;
  text-decoration: none;
  color: $light-font-color;
  padding: 10px;

  @include mq(tablet){
    font-size: 16px;
  }

  @include mq(desktop){
    font-size: $font-sizeP;
  }
}

.button:hover{
  background-color: $bg-color;
}


article {
  display: flex;
  margin: 10px 0;
  background-color: $article-bg-color;
  width: 100%;


  @include mq(tablet) {
    margin: 10px;
    flex-wrap: wrap;
    max-width: calc(50% - 2.2rem);
  }

  @include mq(desktop) {
    max-width: calc(33% - 2.2rem);
  }
}

article{
  a{
    text-decoration: none;

  }

  img{
    width: 50%;
    float: left;

    @include mq(tablet){
      width: 100%;
      float: none;
    }
  }

  %ellipsis{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  h3{
    font-size: 12px;
    color: $light-font-color;
    text-align: left;
    @extend %ellipsis;
    padding-bottom: 55px;

    @include mq(tablet){
      padding: 0;
      float: none;
      font-size: 20px;
    }

    @include mq(desktop){
      float: none;
      font-size: $font-sizeH3;
      line-height: 75%;
    }
  }
  strong{
    font-size: 12px;
    color: $dark-font-color;

    @include mq(tablet){
      font-size: 16px;
    }

    @include mq(desktop){
      font-size: $font-sizeP;
    }
  }
}

strong::before{
  @include lineBreak;
}

article{
  h3:hover{
    background-color: $bg-color;
  }
}

footer{
  padding: 1.5rem 0;
  font-size: 12px;
  text-align: center;
  color: $light-font-color;
  background-color: $bg-color;
  background-size: cover;
}

footer{
  a{
    color: $light-font-color;
  }
}
