@import '../helpers/_variables';
@import '../helpers/_mixins.scss';

html{
  font-size: 62.5%;
}

header{
  position: inherit;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

section{
  @extend header
}

footer{
  background-color: $bg-color;
  height: 9.5rem;
}

body{
  font-family: $font-stack;
  background-color: $body-bgColor;
}

%header{
  display: inline;
}

.logo{
  @extend %header;
  height: 4rem;
  width: 4rem;
  background: $logoicon;
  background-size: cover;
  text-indent: -9999px;
  position: absolute;
}



h1{
  color: $light-font-color;
  font-size: $font-h1-size;
  margin-left: 50px;
  padding-left: 10px;
  @extend %header;
}


.nav{
  @extend %header;
  float: right;
  margin-right: 10px;
}

.nav{
  li{
    display: inline-block;
    list-style-type: none;
    color: $light-font-color;
    font-size: $font-h1-size;
    padding-left: 10px;
  }

  li:first-child{
    color: $dark-font-color;
  }
}

.search{
  height: 33.7rem;
}

.searchForm{
  display: block;
  width: 85rem;
  margin-top: 12rem;
  margin-left: auto;
  margin-right: auto;
}

.searchForm{
  label{
    background-color: $bg-color;
    font-size: $font-sizeP;
    color: $light-font-color;
    margin: 0 7rem 0 0;
    border: 1px solid transparent;
    float: left;
  }

  input[type=text]{
    height: 5rem;
    font-size: $font-sizeH3;
    width: 80rem;
    border: none;
    float: left;
  }

  input[type=submit]{
    text-indent: -9999px;
    width: 5rem;
    height: 5rem;
    background: $search-btn white;
    border: none;
    float: right;
  }
}

.searchForm{
  input[type=submit]:hover{
    background: $search-btn-hover;
    width: 50px;
    height: 50px;
  }

  #userFeedback{
    color: red;
    float: left;
    font-size: $font-sizeP;
    background-color: black;
  }
}


h2{
  display: block;
  float: left;
  margin-right: 400px;
  margin-top: 4rem;
  padding: 5px;
  background-color: $bg-color;
  color: $light-font-color;
  font-size: $font-h1-size;
}
#results{
  text-align: center;
}

.button {
  display: inline-block;
  text-align: center;
  font-size: $font-sizeP;
  margin-bottom: 20px;
  border-radius: 5px;
  background-color: $article-bg-color;
  text-decoration: none;
  color: $light-font-color;
  padding: 10px;
}

.button:hover{
  background-color: $bg-color;
}


article{
  display: inline-block;
  margin: 39px;
  max-width: 320px;
}

article{
  a{
    text-decoration: none;
    background-color: $article-bg-color;
  }

  %ellipsis{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  h3{
    font-size: $font-sizeP;
    color: $light-font-color;
    background-color: $article-bg-color;
    padding: 10px;
    text-align: left;
    @extend %ellipsis;
  }
  strong{
    font-size: $font-sizeP;
    color: $dark-font-color;
  }
}

strong::before{
  @include lineBreak;
}

article{
  h3:hover{
    background-color: $bg-color;
  }
}

footer{
  padding-top: 1.5rem;
  font-size: $font-sizeP;
  text-align: center;
  color: $light-font-color;
}

footer{
  p{
    margin-top: 1rem;
  }
  a{
    color: $light-font-color;
  }
}

