@import '../helpers/_variables';
@import '../helpers/_mixins.scss';

html{
  font-size: 62.5%;
}

header{
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid white;
}

section{
  @extend header
}

footer{
  @extend header
}

body{
  font-family: $font-stack;
  background-color: $body-bgColor;
}

header{

}