@import '../helpers/_variables.scss';

.footWrapper{
  background-color: $footer-bg-color;
  background-size: cover;
  margin: 0;
  padding: 0;
  height: 3.5rem;
}

footer{
  display: block;
  text-align: center;
  vertical-align: middle;
  color: $font-color;
}

footer{
  p{
    display: block;
    text-align: center;
    vertical-align: middle;
    padding-top: 17px;
  }
}