@import '../helpers/_mixins.scss';
@import '../helpers/_variables.scss';

.navWrapper {
  background: $backgroundImage;
  background-size: cover;
  height: 20rem;

  @include mq(tablet) {
    height: 30rem;
  }

  @include mq(desktop){
    height: 40rem;
  }
}

