@import '../helpers/_mixins.scss';
@import '../helpers/_variables.scss';

.navWrapper {
  height: 40rem;
  background: $backgroundImage;
  background-size: cover;
  display: block;
}

.footWrapper{
  background-color: $bg-color;
  height: 9.5rem;
}