$bg-color: #000;
$light-font-color: #C2A8F1;
$dark-font-color: #907DB4;
$font-stack: Arial, sans-serif;
$font-h1-size: 50px;
$font-sizeH2: 70px;
$font-sizeH3: 35px;
$font-sizeP: 20px;
$font-weight-bold: 700;
$body-bgColor: #925FF1;
$article-bg-color: #452D72;
$logoicon: url('../images-icons/icons8-Game-ControllerFilled-50.png') no-repeat;
$backgroundImage: url('../images-icons/Gaming_Zone.jpeg') no-repeat;
$search-btn: url('../images-icons/icons8-Search Filled.png') no-repeat;
$search-btn-hover: url('../images-icons/icons8-Search Filled-Hoverpng.png') no-repeat;
